.header {
  align-items: center;
  display: flex;
}

.main-heading {
  color: $purple;
  font-size: $xl-size;
  padding-left: $m-size;
  margin: $s-size 0;
}

.subheading {
  color: #000;
  font-size: $m-size;
  padding-left: $m-size;
}