.navBarContainer {
  margin: 1rem 0;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navBar li {
  margin-bottom: 0;
}

.navBar a {
  color: white;
  font-size: 2rem;
  text-decoration: none;
}

.active {
  font-weight: bold;
}
